<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test name="Smoke test">
    <classes>
       <class name="examples.smoke.SmokeTest"/>
    </classes>
    </test>
   <test name="Waits">
    <classes>
      <class name="examples.waits.FluentWaitDemo"/>
      <class name="examples.waits.ExplicitWaitExample"/>
      <class name="examples.waits.CustomWaitDemo"/>
      <class name="examples.waits.ImplicitWaitDemo"/>
      <class name="examples.waits.ExplicitWaitsDemo"/>
    </classes>
  </test>
</suite> <!-- Suite -->
